@charset "utf-8";
/* CSS Document */
/* Tipografia -----------------------------------------------------------*/
@font-face {
	font-family: 'miHelveticaNeueCondensed';
	src: url('fonts/Helvetica-Neue-Condensed-Black_0.ttf'),
    url('fonts/Helvetica-Neue-Condensed-Black_0.eot'); /* IE9 */
}

@font-face {
	font-family: 'miHelveticaNeue';
	src: url('fonts/Helvetica-Neue.ttf'),
    url('fonts/Helvetica-Neue.eot'); /* IE9 */
}

@font-face {
font-family: 'HelveticaConthRegular';
    src: url('fonts/helveticacon.eot');
    src: url('fonts/helveticacon.eot') format('embedded-opentype'),
         url('fonts/helveticacon.woff') format('woff'),
         url('fonts/helveticacon.ttf') format('truetype'),
         url('fonts/helveticacon.svg#HelveticaConthRegular') format('svg');+
}
/* pagina general ---------------------------------------------------------------*/
body{
	background-image:url(img/1.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	padding:0px;
	margin:0px;
}

#content{
	width:100%;
	height:100%;
	margin:0px auto;
}

#flechaIzq{
	float:left;
	border:0px;
	margin:180px 0px 0px 7%;
}
#flechaDer{
	float:right;
	border:0px;
	margin:180px 7% 0px 0px;
}

#flechaIzq img #flechaDer img{
	width:100%;
	height:100%;
}

h1{
	font-family:HelveticaConthRegular;
	font-size:60px;
	color:#FFF;
	line-height:60px;
}
/* header ----------------------------------------------------------------*/
header{
	width:100%;
	padding:0px;
	margin:0 auto;
	height:137px;
	text-align:center;
}

header img{
	float:left;
	padding-left:167px;
	padding-top:10px;
}


nav{
	width:720px;;
	height:31px;
	font-family:miHelveticaNeueCondensed, sans-serif;
	font-size:14px;
	margin:0 auto;
	clear:both;
	padding-top:10px;
}

nav ul{
	height:21px;
	padding:0px;
}
nav li{
	height:21px;
	display:inline-block;
	list-style:none;
	text-align:left;
	padding:0px;
}

nav a{
	padding:2px 10px;
	line-height:21px;
	color:#FFF;
	text-decoration:none;
}
nav a:hover{
	background-color:#FBE82E;
	color:#515962;
}

.seleccionado{
	padding:0px 10px;
	line-height:21px;
	background-color:#FBE82E;
	color:#515962;
}


/* Content ---------------------------------------------------------------*/
article{
	width:100%;
	/*height:638px;*/
	float:left;
	margin:0 auto;
}

article a{
	color:#FBE82E; 
	font-family:miHelveticaNeueCondensed, sans-serif;
	font-size:14px;
	text-decoration:none;
}

/* Footer ------------------------------------------------------------------*/
footer{
	width:100%;
	height:60px;
	vertical-align:central;
	margin:0 auto;
	float:left;
	margin-top:20px;
}
.iconouno{
	margin-left:7%;	
}
/* Pagina Inicio --------------------------------------------------------*/
#btnFotosFondo{
	height:55px;
	margin: 130px 16% 0px 0px;
	float:right;
	clear:both;	
}

#btnFotosFondo img{
	padding-left:5px;	
}

.creditos{
	height:16px;
	color:#FFFFFF; 
	font-family:miHelveticaNeue, sans-serif;
	font-size:12px;
	
}
/* About --------------------------------------------------------*/
#about{
	width:260px;
	margin:0 auto;
	padding:0px;
	/*margin-left:190px;*/
	margin-top:60px;
	color:#FFF;
	font-family:Arial;
	font-size:14px;
	position:relative;
}

#about p {
	margin-top:-40px;
	padding:0px;
}
/* Building Amenities ---------------------------------------------------*/
#btnFotosFondoAmenities{
	height:55px;
	margin: 0px 16% 0px 0px;
	float:right;
	clear:both;	
}

#btnFotosFondoAmenities img{
	padding-left:5px;	
}

#learn{
	width:285px;
	height:300px;
	margin:0px auto;
	margin-top:50px;
}	

#learn a{
	color:#FBE82E; 
	font-family:miHelveticaNeueCondensed, sans-serif;
	font-size:14px;
	text-decoration:none;
}

#mostrar{
	display:block;
	padding:0px;
	margin:0px;
}

#miTexto {
	width:260px;
	display: none;
	margin:0px auto;
	padding:0px;
	margin-top:-58px;
	color:#FFF;
	font-family:Arial;
	font-size:14px;
	position:relative;
}

#miTexto p {
	margin-top:-40px;
	padding:0px;
}

/* Place  ------------------------------------------------------------*/
#redSocial{
	width:360px;
	height:610px;
	margin:0 auto;
	position:relative;
	background:url(img/background_twitter.png);
	background-repeat:no-repeat;
	background-position:center;
	margin-top: 50px;
}
#twitter{
	width:218px;
	padding:51px 0px 0px 0px;
	margin:0px auto;
}
#place{
	width:920px;
	height:610px;
	position:relative;
	float:right;
}
#circuloAnimado{
	width:26px;
	height:26px;
	position:absolute;
	top:224px;
	left:155px;
}

#cartelBuilding{
	width:144px;
	height:46px;
	position:absolute;
	top:166px;
	left:101px;
	visibility: visible;
}

/* Visit  ------------------------------------------------------------*/
#visit{
	width:100%;
	height:184px;
	margin:0 auto;
	margin-top:60px;
	visibility: hidden;
	display:none;
}

#visit2{
	width:680px;
	height:116px;
	margin:0 auto;
	margin-top:152px;
	margin-bottom:157px;
	visibility: visible;
	display:block;
}


@media screen and (max-width: 1024px) {
	/*#about{
		margin:0 auto;
		margin-top:130px;
	}*/
}

@media screen and (max-width: 768px) {
	body{
		background-image:url(img/2.jpg);
	}	

	header img{
		padding-left:40px;
	}
	#flechaIzq{
		margin:260px 0px 0px 7%;
	}
	#flechaDer{
		margin:260px 7% 0px 0px;
	}
	#btnFotosFondo{
		margin: 250px 7% 0px 0px;
	}
	/* About ---------------------------------------------*/
	#about{
		margin-top:100px;
		margin-bottom:222px;
	}
	/* Amenities -----------------------------------------*/
	#miTexto {
		margin-top:-22px;7
	}
	#btnFotosFondoAmenities{
		margin: 150px 7% 0px 0px;
	}
	
	/* Footer --------------------------------------------*/
	#visit2{
		margin-bottom:363px;
	}
}

@media screen and (max-width: 640px) {
	
	body{
		background-image:url(img/3.jpg);
		background-repeat:repeat-y;	
	}
	nav{
		width:100%;
		height:74px;
		margin:0 auto;
		clear:both;
	}

	header img{
		padding-left:10px;
	}
	/* Content ---------------------------------------------------------------*/
	#flechaIzq{
		margin:50px 0px 0px 7%;
	}
	#flechaDer{
		margin:50px 7% 0px 0px;
	}
	#btnFotosFondo{
		margin: 150px 7% 0px 0px;
	}	
	/* About ---------------------------------------------------------------*/
	#about{
		margin:0 auto;
		margin-top:0px;
	}	
	/* Amenities ---------------------------------------------------------------*/
	#btnFotosFondoAmenities{
		margin: 50px 7% 0px 0px;
	}
	#learn{
		margin-top:40px;
	}	
	#mostrar{
		padding:7%;
	}
	#miTexto {
		margin-top:-80px;
	}
	/* Place  ------------------------------------------------------------*/
	#redSocial{
		width:100%;
	}
	#place{
		background-image:url(img/place_mobil_640.jpg);
		background-repeat:no-repeat;
		width:100%;
		height:775px;
		clear:both;
		position:relative;
	}
	#circuloAnimado{
		top:204px;
		left:135px;
	}
	
	#cartelBuilding{
		top:136px;
		left:85px;
		visibility: hidden;
	}
	/* Visit  ------------------------------------------------------------*/
	#visit{
		width:100%;
		height:184px;
		margin-top:60px;
		text-align:center;
		display:block;
		visibility: visible;
	}
	#visit2{
		display: none;
		visibility: hidden;
	}
	/* Footer -----------------------------------------------------------*/
	.iconouno{
		margin-left:0;	
	}
}

/* para 700px  o menos */
@media screen and (max-width: 440px) {

	/* Content ---------------------------------------------------------------*/
	#flechaIzq{
		margin:100px 0px 0px 7%;
	}
	#flechaDer{
		margin:100px 7% 0px 0px;
	}
	#flechaIzq img{
		width:38px;
		height:38px;
	}
	#flechaDer img{
		width:38px;
		height:38px;
	}
	#btnFotosFondo{
		margin: 150px 7% 0px 0px;
	}
	/* About ---------------------------------------------------------------*/
	#about{
		margin-top:80px;
	}
	/* Amenities ---------------------------------------------------------------*/
	#learn{
		margin-top:80px;
	}
	#miTexto {
		margin-top:-80px;
	}
	#btnFotosFondoAmenities{
		margin: 100px 7% 0px 0px;
	}
	/* Place  ------------------------------------------------------------*/
	#redSocial{
		margin-top:80px;
	}
	#twitter{
		/*padding:51px 0px 0px 0px;*/
	}
	#place{
		background-image:url(img/place_mobil_340.jpg);
		height:588px;
	}
	#circuloAnimado{
		top:204px;
		left:135px;
	}
	
	#cartelBuilding{
		top:136px;
		left:85px;
		visibility: hidden;
	}
	/* Visit  ------------------------------------------------------------*/
	#visit{
		margin-top:80px;
	}
}
